-- Run this in Supabase SQL Editor (Dashboard → SQL Editor → New query)

create table if not exists public.profiles (
  id          uuid primary key references auth.users(id) on delete cascade,
  full_name   text,
  username    text,
  email       text,
  location    text,
  bio         text,
  avatar_url  text,
  created_at  timestamptz default now()
);

-- Allow users to read/write only their own row
alter table public.profiles enable row level security;

create policy "Users can view their own profile"
  on public.profiles for select
  using (auth.uid() = id);

create policy "Users can insert their own profile"
  on public.profiles for insert
  with check (auth.uid() = id);

create policy "Users can update their own profile"
  on public.profiles for update
  using (auth.uid() = id);
